<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:include="layout :: include-fragment" />
</head>
<body>
	    		<div th:include="layout :: adminheader-fragment" >
				</div>
				<div class="container-fluid">
					
				<div th:replace="layout :: adminmenu-fragment" />


					<div class="col col-lg-9">
						<div class="row">
							<div class="col col-lg-5">
								<h4>Today Stats:</h4>
										Visits<span class="pull-right strong">- 15%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
										</div>
									
										20 New Users<span class="pull-right strong">+ 30%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
										</div>
									
										359 Downloads<span class="pull-right strong">+ 8%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
										</div>
							</div>
							<div class="col col-lg-5">
								<h4>This Month Stats:</h4>
										Visits<span class="pull-right strong">+ 45%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
										</div>
									
										395 New Users<span class="pull-right strong">+ 57%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
										</div>
									
										12.593 Downloads<span class="pull-right strong">+ 25%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
										</div>
							</div>
						</div>
					</div>
				</div>
</body>
</html>