<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Conference Submission</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="include-fragment">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</div>
</head>
<body>

	<div th:fragment="userheader-fragment">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	   <div class="container-fluid">
	     <div class="navbar-header">
	           <a class="navbar-brand" th:href="@{/}">Conference Application</a>
	     </div>
	     <ul class="nav navbar-nav">
	         <li class="active"><a th:href="@{/}">Home</a></li>
	         <li class="dropdown">
	         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Submission
	             <span class="caret"></span></a>
	             <ul class="dropdown-menu">
	               <li><a th:href="@{/new-submission}">New Submission</a></li>
	               <li><a href="#">My Submissions</a></li>
	               <li><a href="#">Submission Rules</a></li>
	           </ul>
	         </li>
	         <li><a th:href="@{/newuser}">Register</a></li>
	         <li><a href="#">Log Out</a></li>
	     </ul>
	     </div>
	 </nav>
	</div>  

	<div th:fragment="adminheader-fragment">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/admin}">
						ADMIN PAGE
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://www.sciax2.it/forum/utenti/-kik_226760/" target="_blank">Return back</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Settings
								<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li class="dropdown-header">SETTINGS</li>
									<li class=""><a href="#">Link</a></li>
									<li class=""><a href="#">Other Link</a></li>
									<li class=""><a href="#">Other Link</a></li>
									<li class="divider"></li>
									<li><a href="#">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	</div>
	<div class="col col-lg-3" th:fragment="adminmenu-fragment">			
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
				Submission</a>
			  </h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<ul class="list-group">
					<li class="list-group-item"><span class="badge">253</span> <a th:href="@{/admin-submission}">All</a></li>
					<li class="list-group-item"><span class="badge">17</span> Untreated</li>
					<li class="list-group-item"><span class="badge">3</span> Pending</li>
					<li class="list-group-item"><span class="badge">3</span> Accepted</li>
					<li class="list-group-item"><span class="badge">3</span> Rejected</li>
				</ul>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				Users</a>
			  </h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse in">
				<ul class="list-group">
					<li class="list-group-item"><!-- <span class="badge">12</span> --> <a th:href="@{/newuser}">Add New User</a></li>
					<li class="list-group-item"><!-- <span class="badge">5</span> --> <a th:href="@{/admin-listuser}">Show Users</a></li>
				</ul>
			</div>
		  </div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				Conference</a>
			  </h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse in">
				<ul class="list-group">
					<li class="list-group-item"><!-- <span class="badge">1</span> --> Add New Conference</li>
					<li class="list-group-item"><!-- <span class="badge">5</span> --> Show Conferences</li>
				</ul>
			</div>
		  </div>
		</div> 
	</div>
    <div th:fragment="secured">
        <span sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name"></span> | <a th:href="@{/logout}">Log Out</a>
        </span>
    </div>
</body>

</html>




