<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:include="layout :: include-fragment" />
</head>
<body>
	    		<div th:include="layout :: sponsorheader-fragment" >
				</div>
				<div class="container-fluid">
					
				<div th:replace="layout :: sponsormenu-fragment" />

<div class="col-lg-9 content">
	  			  <div class="panel panel-default">
		<div class="panel-heading">
			  <h4 class="panel-title">
				All Sponsor
			  </h4>
		</div>
		<div class="panel-body">
    <table class="table table-striped custab">
    <thead>
        <tr>
			<th>ID</th>
			<th>Name</th>
			<th>Logo</th>
			<th>Type</th>
			<th>URL</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    </table>
 
		</div>
	</div>
</div>
</div>
</body>
</html>